* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
}



.container {
    width: 1170px;
    margin: 0 auto;
}

.wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 5px;
    background: #000;
    color: #fff;

    .header__wrap {
        display: flex;

        .header__img_wrap {
            width: 64px;

            img {
                width: 100%;
            }
        }

        .header__title {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                text-transform: uppercase;
            }
        }
    }
}

.h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800px;
    letter-spacing: 2px;
}

.outline-text {
    color: transparent;
    -webkit-text-stroke: 1px black;
    text-stroke: 0.5px black;
    text-shadow: 1px 1px #6C757D;
}

.content {
    flex: 1 1 auto;
    margin: 30px 0 10px 0;

    .h2 {
        text-align: center;
    }

}

.section__form_add {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .form_add {
        width: 100%;

        .add_data {
            display: flex;
            flex-direction: column;
            padding: 5px;
            margin-bottom: 10px;

            label {
                display: block;
                color: rgb(33, 37, 41);
                font-size: 16px;
                margin-bottom: 7px;
            }

            input {
                display: block;
                width: 100%;
                padding: 5.25px 10.5px;
                background-color: #fff;
                border: solid 1px rgb(206, 212, 218);
                border-radius: 3.5px;
                color: rgb(73, 80, 87);
                font-family: monospace;
                font-size: 14px;
            }
        }

        .radio__wrap {
            display: flex;

            .radio__title {
                display: flex;
                justify-content: center;
                margin-right: 10px;
            }

            .radio__form {
                display: flex;

                .radio__form_item {
                    margin-right: 10px;
                }
            }
        }

        .btns__wrap {
            margin-top: 10px;
            padding: 5px;
            display: flex;
            justify-content: space-between;

            .btn_wrap {
                width: 49%;

                .btn {
                    width: 100%;
                    padding: 10px 0;
                    color: #fff;
                    background-color: rgb(0, 123, 255);
                    border-radius: 5px;
                    border-color: rgb(0, 123, 255);
                    border-style: solid;

                    &:hover {
                        background-color: rgb(0, 105, 217);
                        border-color: rgb(0, 98, 204);

                    }

                    &:focus {
                        box-shadow: rgba(38, 143, 255, 0.5) 0px 0px 0px 2.8px;
                    }
                }
            }

        }
    }
}

.h2 {
    margin: 20px 0 10px 0;
    text-transform: uppercase;
}

.table__wrap {
    .table {
        background-color: rgb(69, 77, 85);
        color: #fff;
        font-size: 20px;
        width: 100%;
        border-spacing: 0;
        border-radius: 5px;
        text-align: center;

        th {
            text-transform: uppercase;
        }

        td,
        th {
            border-bottom: rgb(114, 111, 111) 1px solid;
            width: 33.33%;
            padding: 6px;
        }
    }
}

.footer {
    background: #164d7a;
    padding: 5px 0;
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .footer-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .git-hub {}

        .copyright {
            margin: 0;
            font-size: 14px;
            text-align: center;
        }

        .host-name-wrap {}
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .header {

        .header__wrap {

            .header__img_wrap {
                width: 32px;

                img {
                    width: 100%;
                }
            }

            .header__title {
                h2 {
                    font-size: 11px;
                    letter-spacing: 1.5px;

                }
            }
        }
    }

    .content {
        margin: 12px 0;
    }

    .h1 {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .outline-text {
        color: transparent;
        -webkit-text-stroke: 0.5px black;
        text-stroke: 0.5px black;
        text-shadow: 1.1px 1.1px #6C757D;
    }
    .section__form_add {

        margin-top: 8px;

        .form_add {
            .add_data {
                padding: 2px;
                margin-bottom: 5px;

                label {
                    display: block;
                    color: rgb(33, 37, 41);
                    font-size: 12px;
                    margin-bottom: 3px;
                }

                input {
                    padding: 3.25px 5.25px;
                    font-size: 10px;
                }
            }

            .radio__wrap {
                font-size: 14px;

                .radio__title {
                    margin-right: 5px;
                }

                .radio__form {
                    .radio__form_item {
                        display: flex;
                        align-items: center;

                        input {
                            margin-right: 3px;
                        }

                        margin-right: 5px;
                    }
                }
            }

            .btns__wrap {
                margin-top: 5px;

                .btn_wrap {
                    width: 49%;

                    .btn {
                        width: 100%;
                        padding: 5px 0;
                        font-size: 12px;
                    }
                }

            }
        }
    }

    .h2 {
        margin: 10px 0 5px 0;
        font-size: 12px;
        letter-spacing: 2px;
    }

    .table__wrap {
        .table {
            font-size: 12px;
        }
    }

    .footer {
        .footer-wrap {
            flex-wrap: wrap;

            a {
                font-size: 12px;
            }

            .git-hub {
                order: 2;
                flex: 0 1 50%;
                text-align: center;
            }

            .copyright {
                order: 1;
                flex: 0 1 100%;
                margin: 0;
                font-size: 12px;
                text-align: center;
                margin-bottom: 5px;
            }

            .host-name-wrap {
                order: 3;
                flex: 0 1 50%;
                text-align: center;
            }
        }
    }
}